{% extends 'base.html.twig' %}
{% block body %}

    <div id="homepage-container"class="container-fluid">
        <section class="home-section" id="home">
            <h1>Musée du LOUVRE</h1>
            <button class="btn-order"><a href="{{ path('booking_form') }}">Billetterie</a></button>
        </section>

        {% include 'information.html.twig' %}
{% endblock %}