<!-- Horaires -->
<section id="schedules" class="section-content section-schedules">
    <div class="section-schedules-header">
        <h2>Horaires : </h2>
    </div>
    <div class="schedules-section-content">
        <table class="schedules-table">
            <tbody>
            <tr>
                <td class="schedules-day">Lundi : </td>
                <td>9h</td>
                <td> - </td>
                <td>18h</td>

            </tr>
            <tr>
                <td class="schedules-day">Mardi : </td>
                <td>fermé</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="schedules-day">Mercredi : </td>
                <td>9h</td>
                <td> - </td>
                <td>18h</td>
            </tr>
            <tr>
                <td class="schedules-day">Jeudi : </td>
                <td>9h</td>
                <td> - </td>
                <td>18h</td>
            </tr>
            <tr>
                <td class="schedules-day">Vendredi : </td>
                <td>9h</td>
                <td> - </td>
                <td>18h</td>
            </tr>
            <tr>
                <td class="schedules-day">Samedi : </td>
                <td>9h</td>
                <td> - </td>
                <td>18h</td>
            </tr>
            <tr>
                <td class="schedules-day">Dimanche : </td>
                <td>9h</td>
                <td> - </td>
                <td>18h</td>
            </tr>
            </tbody>
        </table>
        <p>Le musée est fermé les 1er mai, 1er novembre et 25 décembre.</p>
    </div>
</section>

<!-- prices -->
<section id="prices" class="section-content section-prices hide">
    <div class="section-prices-header">
        <h2>Prix :
        </h2>
    </div>

    <div class="section-prices-container row">

        <div class="prices-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="prices-content">
                <div class="prices-content-body">
                    <p>Enfant de moins de 4ans
                        <br>
                        <span class="prices"> Gratuit</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="prices-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="prices-content">
                <div class="prices-content-header">Enfant de 4 à 12 ans</div>
                <div class="prices-content-body">
                    <p>
                        <br>
                        <span class="prices">8€</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="prices-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="prices-content">
                <div class="prices-content-header">Normal (à partir de 12ans)</div>
                <div class="prices-content-body">
                    <p>
                        <br>
                        <span class="prices">16€</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="prices-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="prices-content">
                <div class="prices-content-header">Senior (à partir de 60ans)</div>
                <div class="prices-content-body">
                    <p>
                        <br>
                        <span class="prices">12€</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="prices-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="prices-content">
                <div class="prices-content-header">Réduit (étudiant, militaire…)</div>
                <div class="prices-content-body">
                    <p class="reduit">
                        <br>
                        <span class="prices">10€</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p class="col-12 mt-4">Prix demi-journée : 10€ (Entrée possible a partir de 14-00h.)</p>
    <div class="row">

    </div>
    <p class="condition col-12">Il vous sera demmandé un justificatif à l'entrée musée pour bénéficier d'un tarif réduit.</p>
</section>
